*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#642b73,  #c6426e);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 270px;
    height: 380px;
    border-radius: 5px;
    position: relative;
}
.user_id{
    background-color: white;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.user_id, h2{
    font-size: 14px;
    color: black;
    padding-top: 7px;
    padding-left: 3px;
}
.image{
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.user_id i{
    font-size: 12px;
    margin-left: 120px;
    padding-top: 10px;
}
.tools{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-size: 10px;
    padding: 3px;
}
#heart{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%,-50% ) scale(0);
    opacity: 0.8;
    transition: all ease 0.3s;
}
#red_heart{
    color: rgb(213, 196, 196);
    font-size: 20px;
}
.heart_btn{
    width: 30px;
    border: none;
    background-color: white;
}
.msg{
    padding-left: 4px;
    line-height: 10px;
    margin-bottom: 5px;
}