*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background:linear-gradient(to left,#89f7fe, #66a6ff);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 550px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.stories{
    height: 120px;
    width: 100%;
    background-color: rgb(234, 233, 232);
    border-bottom: 1px solid rgb(191, 183, 183);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
}
.stories::-webkit-scrollbar{
    display: none;
}
.story1{
    height: 90px;
    width: 90px;
    border: 3px solid rgb(156, 17, 17);
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}
.story1 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.full_screen{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    border-radius: 10px;
    border: 3px solid black;
}
.tool{
    display: flex;
    align-items: center;
}
.tool h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:10px;
}
#red_heart{
    font-size: large;
    margin-left: 160px;
    color: red;
}
#dots{
    margin-left: 12px;
}
.post img{
    height: 300px;
    width: 100%;
}
.section i{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
#heart{
    color: red;
}
.msg{
    line-height: 30px;
    margin-left: 10px;
}