*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #f6f5f4;
    padding: 2rem;
    border-radius: 1rem;
}
.btn{
    border-radius: 5px;
    width: 200px;
    height: 2rem;
    margin-left: 45px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(124, 115, 115);
    background-color: #827450;
    cursor: pointer;
}
.from{
    margin: 2rem 0 2rem 0;
    margin-left: 10px;
}
.to{
    margin: 2rem 0 1rem 0;
    margin-left: 45px;
}
form select,button,input{
    border: none;
    width: 80%;
    border-radius: 2px;
}
.amount{
    padding: 1rem;
    font-size: large;
    margin-left: -10px;
}
.dropdown{
    display: flex;
    flex-direction: row;
    font-size: larger;
}
.msg{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
}
.inr{
    width: 80%;
}
i{
    margin-top: 60px;
    margin-left: 45px;
    font-size: 1.2rem;
}
.select-container img{
    max-width: 1.9rem;
}
.select-container{
    background-color:#ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border: 1px solid rgb(150, 142, 142) ;
}